<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Confirm Password" [(ngModel)]="cpassword"></ion-input>
		</ion-item>
	</ion-list>	
			<ion-button expand="block" color="primary" (click)="register()">Sign Up</ion-button>
			<a nav-transition="android" href="/login">
          	<ion-button expand="full" color="tertiary">Back to login</ion-button>
        	</a>
			
	
</ion-content>
